# EditorConfig is awesome: http://EditorConfig.org

# Unix-style newlines with a newline ending every file
# 4 space indentation
# remove any whitespace characters preceding newline characters

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
